<div class="side-bar-header">
  <% #binding.pry %>
  <%= link_to current_user.name, edit_user_path(current_user),class:"header-name" %>
  <a href="#" Class="create-rooom">チャットを作成する</a>
</div>
<div class="rooms">
  <% 5.times do |n| %>
  <p class="room-name">
  <%= "techroom#{n+1}" %>
  </p>
<% end %>
</div>
