<div class="side-bar-header">
  <a href="#" class="header-name">Tom</a>
  <a href="#" Class="create-rooom">チャットを作成する</a>
</div>
<div class="rooms">
  <p class="room-name">techroom1</p>
  <p class="room-name">techroom2</p>
  <p class="room-name">techroom3</p>
</div>
